.top-desc {
    margin: unset;
    t
}
form {
    margin-top: 20px;
}

.form-group {
    margin-top: 16px;
}

.form-group label,
.form-group input {
    display: block;
}

.form-group label {
    font-weight: 600;
}

.form-group input:not([type="radio"]):not([type="checkbox"]) {
    width: 240px;
    height: 34px;
    margin-top: 8px;
    padding: 4px 8px;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"],
.form-group input[type="radio"] + label,
.form-group input[type="checkbox"] + label {
    display: inline-block;
}

.form-group input[type="radio"] {
    width: 16px;
    height: 16px;
    margin-top: 8px;
}

.form-group input[type="radio"] + label {
    position: relative;
    top: -2px;
    margin-right: 16px;
    padding-left: 2px;
}

.form-group .btn {
    margin-top: 20px;
    padding: 10px 28px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #fff;
    background: #f05123;
    cursor: pointer;
}

.form-group .btn:hover {
    opacity: 0.9;
}
