* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    /* padding-top: 10px; */
    font-size: 16px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

nav {
    /* padding-top: 10px; */
    height: 75px;
    background-color: #3e5cca;
}

ul.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-item {
    height: 75px;
}

.nabr-link {
    line-height: 75px;
}
