* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #e6e5e5;
}

a {
    t
}

.title {
    margin-top: 30px;
    font-size: 32px;
    color: red;
    font-weight: 900;
    text-align: center;
}
