* {
    box-sizing: border-box;
}

body {
    /* font-size: 16px; */
    font-family: font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: #e6e5e5;
}

.title {
    color: red;
    font-size: 32px;
    text-align: center;
    font-weight: 900;
    margin-top: 30px;
}
